{% extends "red_rising_layout.html" %}

{% block title %}
Credits
{% endblock %}

{% block main %}



    <p></p>
    <div style="display: flex; justify-content: center; min-height: 100vh;">
        <div class="mb-3">
            <h2 class = "white_header">Based on the Book Series Red Rising by Pierce Brown</h2>
            <p style="margin-bottom: 2em;"></p>
            <a href="https://www.piercebrown.com/redrisingsaga" target="_blank">
                <img src="../static/images/book.jpg" alt="Red Rising Book by Pierce Brown" style = "height: 475px; width: auto;">
            </a>
        </div>
        <p style="margin-bottom: 2em;"></p>
        <h2 class = "white_header">& </h2>
        <div class="mb-3">
            <h2 class = "white_header">the Board Game by Stonemaier Games</h2>
            <p style="margin-bottom: 2em;"></p>
            <a href="https://stonemaiergames.com/games/red-rising/" target="_blank">
                <img src="../static/images/red_rising_game.png" alt="Red Rising Board Game by Stonemaier Games" style = "height: 500px; width: auto;">
            </a>
        </div>
    </div>
{% endblock %}
