{% extends "red_rising_layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

    <h1><span class = "white_header">Welcome to the Red Rising Scoring App!</h1>
    <p></p>
    <h2 class = "red_header">"I would have lived in peace. <br>
    But my enemies brought me war."</h2><br>
    <h3 class = "red_header">~Darrow</h3>
    <p></p>
    <p style="margin-bottom: 2em;"></p>
    <div class="mb-3">
        <a href = "/new_game"><img src="../static/images/red_rising_logo.png" alt="Red Rising Logo"></a>
        <p style="margin-bottom: 2em;"></p>
        <h2 class = "white_header">Score a New Game!</h2>
    </div>
{% endblock %}
